doctype html
html(lang='en')
    head
        title= title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body(style='background-color: #F0F0F0')
        div.container-fluid
            div.row
                div(class='col-xs-12 col-md-10 col-md-offset-1')
                    div.login-wrapper
                        a(href='/')
                            h1 Local Library Tutorial
                            img(src='/images/logo.png', class='img-responsive logo-login')
                            div.clearfix
                        h4= message
                        p= error.status
                        pre #{error.stack}
