
body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.roboto-mono {
  font-family: "Roboto Mono",monospace;
  font-weight: 300;
  &.uppercase {
    text-transform: uppercase;
  }
}

.content-wrapper {
  display: flex;
  min-height: 100vh;

  .content {
    max-width: 1024px;
    margin: 0 auto;
    padding: 40px 16px 100px;
  }
}

@media screen and (min-width: mdc-layout-grid-breakpoint-min(tablet)) {

  .content-wrapper {
    padding-top: 64px;
  }
}

@media screen and (max-width: mdc-layout-grid-breakpoint-min(tablet)) {

  .content-wrapper {
    padding-top: 56px;
  }
}