
body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.roboto-mono {
  font-family: "Roboto Mono",monospace;
  font-weight: 300;
  &.uppercase {
    text-transform: uppercase;
  }
}

.content-wrapper {
  display: flex;
  min-height: 100vh;

  .content {
    max-width: 1024px;
    margin: 0 auto;
    padding: 40px 16px 100px;

    .page-heading {
      text-transform: capitalize;
    }
  }
}

.add-subject-button {
  position: fixed;
  z-index: 10;
  @include mdc-states(on-secondary);
}

.subject-form-item {
  width: 100%;
}

@media screen and (min-width: mdc-layout-grid-breakpoint-min(tablet)) {

  .content-wrapper {
    padding-top: 64px;
  }

  .add-subject-button {
    top: 36px;
    right: 36px;
  }
}

@media (max-width: 599px) {

  .content-wrapper {
    padding-top: 56px;
  }

  .add-subject-button {
    top: 28px;
    right: 28px;
  }
}

@media screen and (max-width: mdc-layout-grid-breakpoint-min(tablet)) {

  .content-wrapper {
    padding-top: 56px;
  }

  .add-subject-button {
    top: 28px;
    right: 28px;
  }
}